# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# vscode
.vscode

#txt folders
UDP_CLIENT/
UDP_SERVER/
TCP_CLIENT/
TCP_SERVER/